body, html {
    z-index: 0;
    background-color: rgb(136, 138, 143);
    color: rgb(22, 22, 22);
    font-family: Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

/* token/draggable attributes */
.draggable { 
    cursor: grab; 
    fill: rgb(180, 180, 180);
    stroke-width: 4px;
}
.dragging { 
    cursor: grabbing; 
    /*fill: hsl(200 50% 50%); */
    opacity: 80%;
    
}
.token { 
    z-index: 5; 
}
#token_prefab {
    display: none;
}



/* main game board. svg is child of div */
#game_board_container {
    width: 100%;
    height: 100%;
    overflow: auto;
    zoom: 100%; /*zoom client game board*/
}
#game_board_svg { 
    z-index: 1;
    border: black solid .5px;
    display: block;
    
    margin: 800px; /*extra space outside of board*/

    background: #eee; 
    overflow-y: scroll;
}


/*navbar*/
.navbar {
    position: fixed; /*not so sure if this should be fixed or not*/
    z-index: 5;

    list-style-type: none;
    
    margin: 0px;
    margin-left: 0px;
    transition: margin-left 1.2s ease-in-out;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(107, 107, 107);
    
    /*border-top: 5px solid rgb(90, 90, 90);*/
    /*border-left: 5px solid rgb(90, 90, 90);*/
    border-bottom: 4px solid rgb(68,68,68);
    border-right: 4px solid rgb(68,68,68);
    border-bottom-right-radius: 10px;

    /* min-width: 600px; */
    top: 0px;
    width: 500px;
    max-width: 30%;
}
.navbar > li {
    float: left;
}
.navbar > li > a {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    user-select: none;

    font-size: 16;
    color: white;
    
}
.navbar > li > a:hover { /* fix to be on navbar_li instead of the text <a> */
    background-color: rgb(80, 80, 80);
    border-bottom: 5px solid rgb(80, 80, 80);
    cursor: pointer;
}

.button:hover{ /*button*/
    background-color: rgb(80, 80, 80);
    cursor: pointer;
}
.minimize_navbar_button {  
    float: right;
    width: 28px;
    text-align: center;
    user-select: none;
    text-decoration: none;

    padding-top: 10px;
    padding-bottom: 5px;

    font-size: 16;
    color: white; 
}
.minimize_navbar_button:hover {
    background-color: rgb(80, 80, 80);
    border-bottom: 5px solid rgb(80, 80, 80);
    cursor: pointer;
}
.minimize_navbar_seperator {
    width: 4px;
    height: 39px;
    float: right;
    margin-bottom: 0px;
    background-color: rgb(68,68,68);   
}
/*end navbar*/

/*token information bar*/
.token_information {
    list-style-type: none;
    position: fixed;
    width: 250px;
    height: 400px;
    bottom: 17px;
    left: 0px;
    background-color: rgb(107, 107, 107);

    margin: 0px;
    padding: 0px;

    display: inline;
    transition: margin-left 0.75s ease-in-out;
    margin-left: -218px; /* width - button - border */

    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border-right: 4px solid rgb(68,68,68);
    border-top: 4px solid rgb(68,68,68);
    border-bottom: 4px solid rgb(68,68,68);
}
.token_information_container > li {
    width: 100%;
    text-align: center;
    display: inherit;

    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    color: white;
}
#name {
    font-size: 16px;
}

.token_information_break { /* i dont know how to make this work in flexbox */
    /* height: 222px; */
    height: 185px;
}
.new_token_button, .delete_token_button, .toggle_movement_button { /*7+7+16 height*/
    border-top: 4px solid rgb(68,68,68);
    text-align: center;
    user-select: none;
    display: inherit;
    padding: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 16px;
    color: white;
}

.minimize_token_information_button {
    display: flex;
    position: relative;
    right: 0px;
    height: 100%;
    width: 28px;
    float: right;
    align-items: center;
    justify-content: center;
    
    border-left: 4px solid rgb(68,68,68);
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: rgb(107, 107, 107);
    color: white;
}

/*end token information bar*/



/*zoom slider*/
.zoom_slider_container {
    z-index: 5;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 200px;
    position: fixed;
    top: 100px;
    right: -60px; /*location*/
    transform: rotate(270deg);
    /*border: black solid 2px;*/
}
.zoom_slider {
    -webkit-appearance: none;
    appearance: none;

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;  
    background: rgb(180, 180, 180);
    outline: none;
    opacity: 0.7;
}
.zoom_slider:hover {
    opacity: 0.9;
}
  
.zoom_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(37, 37, 37);
    cursor: pointer;
}
  
.zoom_slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(37, 37, 37);
    cursor: pointer;
}
/*end zoom slider*/

/*selector*/
#selector {
    opacity: 50%;
    fill: lightblue;
    stroke: blue;
    stroke-width: 1px;
    
}
/*end selector*/

