body, html {
    z-index: 0;
    background-color: rgb(136, 138, 143);
    color: rgb(22, 22, 22);
    font-family: Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

/* token/draggable attributes */
.draggable { 
    cursor: grab; 
    fill: rgb(180, 180, 180);
    stroke-width: 4px;
}
.dragging { 
    cursor: grabbing; 
    /*fill: hsl(200 50% 50%); */
    opacity: 80%;
    
}
.token { 
    z-index: 5;
     
        
}



/* main game board. svg is child of div */
#game_board_container {
    width: 100%;
    height: 100%;
    overflow: auto;
    zoom: 100%; /*zoom client game board*/
}
#game_board_svg { 
    z-index: 1;
    border: black solid .5px;
    display: block;
    
    margin: 800px; /*extra space outside of board*/

    background: #eee; 
    overflow-y: scroll;
}





/*navbar*/
.navbar {
    position: fixed; /*not so sure if this should be fixed or not*/
    z-index: 5;

    list-style-type: none;
    font-size: 16;
    margin: 0px;
    margin-left: 0px;
    transition: margin-left 1.2s ease-in-out;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(107, 107, 107);
    
    /*border-top: 5px solid rgb(90, 90, 90);*/
    /*border-left: 5px solid rgb(90, 90, 90);*/
    border-bottom: 4px solid rgb(68,68,68);
    border-right: 4px solid rgb(68,68,68);
    border-bottom-right-radius: 10px;

    /* min-width: 600px; */
    top: 0px;
    width: 500px;
    max-width: 30%;
}
.navbar_li {
    float: left;
}
.navbar_li_a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    user-select: none;
}
.navbar_li_a:hover {
    background-color: rgb(80, 80, 80);
    cursor: pointer;
    border-bottom: 5px solid rgb(80, 80, 80);
}
.minimize_navbar {  
    float: right;
    width: 30px;
    text-align: center;
    padding: 0px;
}
.minimize_navbar_seperator {
    width: 4px;
    height: 39px;
    float: right;
    margin-bottom: 0px;
    background-color: rgb(68,68,68);
    
}
/*end navbar*/

/*zoom slider*/
.zoom_slider_container {
    z-index: 5;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 200px;
    position: fixed;
    top: 100px;
    right: -60px; /*location*/
    transform: rotate(270deg);
    /*border: black solid 2px;*/
}
.zoom_slider {
    -webkit-appearance: none;
    appearance: none;

    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;  
    background: rgb(180, 180, 180);;
    outline: none;
    opacity: 0.7;
}
.zoom_slider:hover {
    opacity: 0.9;
}
  
.zoom_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(37, 37, 37);
    cursor: pointer;
}
  
.zoom_slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(37, 37, 37);
    cursor: pointer;
}
/*end zoom slider*/

/*selector*/
#selector {
    opacity: 50%;
    fill: lightblue;
    stroke: blue;
    stroke-width: 2px;
    
}
/*end selector*/

